# Colocando sql como linguagem no github

*.sql linguist-detectable=true
*.sql linguist-language=sql

# Ignorando shel na contagem de script

*.sh linguist-vendored

# Convertendo para lf

*.sql eol=lf
*.java eol=lf
*.md eol=lf
*.txt eol=lf
